@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-obsidian dark:text-ivory selection:bg-primary/30 antialiased overflow-x-hidden;
  }
}

/* Global SVG Noise Texture */
.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.03;
  z-index: 9999;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuC0EdH8-Y0Ure7FfnFufSEchsBruc2-c-oeQA4iosNZJqUROSnRAMO7EC_RNz4xaGzsw4JFFv7dfoUZPhkyQy9BFvIiuYh4qY8hCYs2Tf_YfwRgjjXJ6iL3aWza6vnqxGxZrqTAw12j8p7z4KgbSyuLbfw58AGzfZzBcc02suON0mj6SfneDiP2vswZiq2TpL-4KwyFQoj3P3ogwzP4isQW4UfjGi6draB4B1RrsHlETGQtMdGvLyayKas9cy-AChsVYKolspT1Oro)
}

.text-glow {
  text-shadow: 0 0 20px rgba(201, 167, 74, 0.3)
}

.card-glow:hover {
  box-shadow: 0 0 30px rgba(201, 167, 74, 0.1);
  border-color: rgba(201, 167, 74, 0.4)
}

.gallery-glow {
  box-shadow: 0 0 20px rgba(42, 42, 53, 0.5);
  border: 1px solid rgba(201, 167, 74, 0.1);
}

.gallery-glow:hover {
  box-shadow: 0 0 30px rgba(201, 167, 74, 0.15);
  border-color: rgba(201, 167, 74, 0.3);
}

.sticky-card {
  top: 100px
}

.pulse-green {
  box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
  animation: pulse 2s infinite
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(34, 197, 94, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.will-change-transform {
  will-change: transform, opacity;
}